.__pucci_14_word {
  font-size: 41px;
  position: fixed;
  z-index: 99999999;
  transition: 0.511s;
}

.__pucci_14_word_leave {
  transform: translateX(20%);
  opacity: 0;
}

.__pucci_14_word_cmoon {
  transform: translateY(10000px);
  animation-name: __pucci_cmoon;
  animation-duration: 3.5s;
  opacity: 1;
}

.__pucci_14_word_last {
  transition: none !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.__pucci_14_word_last_finaly {
  animation-name: __pucci_himitsunokotei;
  animation-duration: 1.6s;
  font-size: 82px;
}

@keyframes __pucci_himitsunokotei {
  0%   {font-size: 41px;}
  35%  {font-size: 120px;}
  70%  {font-size: 72px;}
  100% {font-size: 82px;}
}

@keyframes __pucci_cmoon {
  0% {
    transform: rotate(15deg);
  }

  5% {
    transform: rotate(-15deg);
  }

  10% {
    transform: rotate(10deg);
  }

  13% {
    transform: rotate(-3deg);
  }

  100% {
    transform: translateY(10000px);
  }
}